# Ignore environment variables
.env
venv/.env  # Only needed if you use nested envs
.env.backup

# Ignore virtual environments
venv/

# Ignore large or specific files
documents/


# Ignore all CSV data files
*.csv

# Bytecode and cache
__pycache__/
*.py[cod]

# Logs and temp files
*.log
*.tmp

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

